<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="cn.tsu">
	
	    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 引入外部配置文件 -->
	<context:property-placeholder location="classpath:dbconfig.properties"/>

<!--=======================数据源，事务控制 ========================-->
     <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="user" value="${jdbc.usder}"></property>
        <property name="password" value="${jdbc.password}"></property>
     
     </bean>
     
     <!-- ==============================配置mybatis的整合===================== -->
     
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
     
       <property name="configLocation" value="classpath:mybatis-config.xml"></property>
       <property name="dataSource" ref="pooledDataSource"></property>
       
       <!-- 指定mybatis  mapper文件的位置 -->
       
       <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
       
     </bean>
     
     <!-- 扫描器 -->
     
     <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     
      <property name="basePackage" value="cn.tsu.edu.curd.dao"></property>
     </bean>
     
     
     <!-- 配置一个可以批量执行的sqlsession -->
     
     <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
        <constructor-arg name="executorType" value="BATCH"></constructor-arg>
     </bean>
     
      <!--=================================== 事物控制 ===========================-->
     <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
     
     <property name="dataSource" ref="pooledDataSource"></property>
     </bean>
     
     <!-- 开启基于注解的事物 -->
     
     <aop:config>
        <aop:pointcut expression="execution(* cn.tsu.edu.curd.services..*(..))" id="txPoint"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint"/>
     </aop:config>
     
    <!--   配置事物增强-->
     <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
           <tx:method name="*"/>
           <tx:method name="get*" read-only="true"/>
        </tx:attributes>
     </tx:advice>
     
     <!-- 核心点    （数据源，与mybatis的整合，事物控制） -->
     
     
     
     
</beans>